/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--text-color, #f1b2ce);
  font-family: var(--main-font, monospace);
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image, url(../images/cover-image-dark.png));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-block-size: 100vh;
}

.header {
  display: grid;
  block-size: 100vh;
  min-block-size: 668px;
  grid-template-rows: 1fr min-content 1fr;
  margin-block-end: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-inline-end: 1px solid var(--header-accent-color, #ff0070);
  border-block-start: 1px solid var(--header-accent-color, #ff0070);
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  inset-inline-end: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-inline-start: 1px solid var(--header-accent-color, #ff0070);
  border-block-end: 1px solid var(--header-accent-color, #ff0070);
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  inset-inline-start: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.header__rec {
  position: absolute;
  color: var(--accent-color, #ff0070);
  line-height: 138%;
  text-transform: uppercase;
  inset-block-start: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  inset-inline-end: clamp(2.5rem, 1.9036rem + 2.5445vw, 3.125rem);
  visibility: var(--visibility-rec-decor, visible);
}

.header__rec::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  inline-size: 10px;
  block-size: 10px;
  inset-block-start: 8px;
  inset-inline-end: -20px;
}

.header__theme-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  color: var(--header-accent-color, #ff0070);
}

@media (width >=1024px) {
  .header__theme-menu {
    justify-content: center;
    align-items: flex-start;
  }
}

.header__theme-menu-button_active {
  border: 1px solid var(--header-accent-color, #ff0070);
  padding: 2px 13px;
  pointer-events: none;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

@media (width >=1024px) {
  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.header__theme-menu-button {
  padding: 0px 13px;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--outline-color, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__title {
  color: var(--accent-heading-color, #db00ff);
  font-size: var(--mob-font-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

@media (width >=768px) {
  .header__title {
    margin-inline-start: -20px;
    font-size: var(--des-font-size,
        clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem));
  }
}

@media (width >=1024px) {
  .header__title {
    text-shadow: 4px 4px 0px var(--text-shadow, #ff0070);
  }
}

.header__description-text {
  align-self: center;
  font-weight: 700;
  font-size: 18px;
}

@media (width >=768px) {
  .header__description-text {
    justify-self: end;
    inline-size: clamp(22.75rem, -1.0625rem + 49.6094vw, 30.6875rem);
  }
}

.title-decor {
  color: var(--title-decor-color, #000028);
  background-color: var(--bg-text-color, #ff0070);
}

.content {
  padding: 0px clamp(10px, 0.0286rem + 2.5445vw, 20px) 40px;
}

@media (width >=768px) {
  .content {
    padding-block-end: 60px;
  }
}

.content__block {
  display: grid;
}

.content__block:not(:first-child) {
  margin-block-start: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem);
}

@media (width >=768px) {

  .content__block-what,
  .content__block-how {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
}

@media (width >=768px) {
  .content__block-why .content__title {
    padding-block-end: 20px;
    inline-size: clamp(14.75rem, -0.0625rem + 30.8594vw, 19.6875rem);
  }
}

@media (width >=1024px) {

  .content__block-what,
  .content__block-how {
    gap: 10px;
  }
}

.content__block-text .content__text-block-title {
  font-weight: 700;
}

@media (width >=768px) {
  .content__block-text {
    display: grid;
    gap: 20px;
  }
}

@media (width >=1024px) {
  .content__block-why .content__block-text {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.content__title {
  color: var(--header-accent-color, #ff0070);
  font-size: 18px;
}

.content__text-block-title {
  margin-block-start: 20px;
  margin-block-end: 10px;
  font-size: 18px;
}

.content__block-how .content__text-block-title {
  font-weight: 400;
}

@media (width >=768px) {
  .content__text-block-title:first-child {
    margin-block-start: 0px;
  }

  .content__paragraph:not(:last-child) {
    margin-block-end: 20px;
  }
}

.content__paragraph-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.content__paragraph-link:hover {
  border-bottom: 1px solid currentColor;
}

.content__paragraph-link:focus {
  outline: none;
}

.content__paragraph-link:focus-visible {
  outline: 1px solid currentColor;
}

.content__description {
  margin: 20px 0;
  font-size: 18px;
}

@media (width >=768px) {
  .content__description {
    margin-block-start: 0px;
  }
}

.content__gallery {
  display: grid;
  margin-block-start: clamp(3.125rem, 1.3955rem + 7.3791vw, 4.9375rem);
}

.content__gallery-title {
  margin-block-end: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  font-weight: 700;
  font-size: 18px;
}

.content__gallery-list {
  display: grid;
  gap: 10px;
}

@media (width >=768px) {
  .content__gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content__gallery-list-item:first-child,
  .content__gallery-list-item:last-child {
    grid-column-start: span 2;
  }

  .content__gallery-list-item:nth-child(2),
  .content__gallery-list-item:nth-child(3) {
    grid-row-start: span 2;
  }
}

.content__img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title-decor {
  display: block;
  text-shadow: 2px 2px 0px var(--accent-color, #ff0070);
  color: var(--accent-heading-color, #db00ff);
  font-size: var(--mob-font-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  line-height: 82.5%;
}

@media (width >=768px) {
  .footer__title-decor {
    font-size: var(--des-font-size,
        clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem));
  }
}

@media (width >=1024px) {
  .footer__title-decor {
    text-shadow: 2px 2px 0px var(--text-shadow, #ff0070);
  }
}